<!DOCTYPE html>
{% load static %}

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {%  block extra_style %}{% endblock %}
        <title>ordersite</title>
    </head>
    <body>
        {% block header %}

        {% endblock %}
        {% block content %}
        
        {% endblock %}
        {% block footer %}
            <h3><a href="{% url 'toppage' %}">TOP PAGEに戻る</a></h3>
        {% endblock %}
    </body>

</html>