{% extends "ordersite/base.html" %}
{% load static %}

{% block header %}
データページ
{% endblock %}

{% block content %}
<div class="container datatop-container">
    <div class="row datatop-row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
        <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12 datatop-col" href="{% url 'dataamount' %}">個別</a>
        <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12 datatop-col" href="{% url 'dataprice' %}">金額</a>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
    </div>
</div>
{% endblock %}