{% extends "ordersite/base.html" %}
{% load static %}

{% block content %}
<h1>個別データ</h1>
<ul>   
    {% for drink in object_list %}
        <li><a href="{% url 'datapricedetail' drink.id %}">{{drink.name}}</a></li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
</ul>

{% if page_obj.has_previous %}
    <h2><a href="?page={{ page_obj.previous_page_number }}">前へ</a></h2>
{% endif %}
{% if page_obj.has_next %}
    <h2><a href="?page={{ page_obj.paginator.num_pages}}">次へ</a></h2>
{% endif %}    

<h2><a href="{% url 'data' %}">前のページに戻る</a></h2>

{% endblock %}