{% extends "ordersite/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/datapricedetail.css' %}">
{% endblock %}

{% block header %}
金額データ詳細/{{drink.name}}
{% endblock %}

{% block content %}
<a class="btn btn-outline-secondary position-absolute top-10 end-0 w-25 p-3" href="{% url 'dataprice' %}" role="button">
    drink選択に戻る
</a>
<h3 class="text-center pt-2">
    {{drink.name}}
</h3>
<div class="data-detail">
    <img class="position-absolute start-50 translate-middle-x" src="data:img/png;base64, {{chart|safe}}">
</div>
{% endblock %}