{% extends "ordersite/base.html" %}
{% load static %}

{%  block extra_style %}
<link rel="stylesheet" href="{% static 'css/todayorder.css' %}">
{% endblock %}

{% block header %}
本日の発注
{% endblock %}

{% block content %}

<ul class="list-group">
    {% for l in list %}
    <li class="list-group-item py-3">
        <div class="text-center">
            {{l.0.name}} {{l.1}}
        </div>
    </li>
    {% empty %}
    <div class="text-center">
        本日の発注はありません。
    </div>
    {% endfor %}
</ul>

{% endblock %}