{% extends "ordersite/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/toppage.css' %}">
{% endblock %}

{% block header %}
発注サイト
{% endblock %}

{% block content %}
<div class="toppage-card">
    <div class="toppage-container">
        <a class="toppage-item" href="{% url 'order' %}">発注</a>
        <a class="toppage-item" href="{% url 'data' %}">集計データ</a>
    </div>
    <div class="toppage-container">
        <a class="toppage-item" href="{% url 'todayorder' %}">今日の発注</a>
        <a class="toppage-item" href="{% url 'register' %}">マスター登録</a>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}