/* .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: 100px;
}

.container {} */

.toppage-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.toppage-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toppage-item {
    font-size: xx-large;
}